<mat-toolbar color="#f5f5f5">
    <div class="author"><mat-icon>computer</mat-icon> Proudly developed by: <a href="https://github.com/Strailko" target="_blank">Mile Jankuloski</a><div class="displayBr"><br></div> (for educational purposes) <br> <mat-icon>email</mat-icon> Contact: <a href="mailto:mile@jankuloski.xyz">mile@jankuloski.xyz</a></div>
    <hr class="displayHr"/>
    <div class="source"><mat-icon>file_copy</mat-icon> Sources: <a href="http://iph.mk">Институт за јавно здравје</a><br> & other external APIs</div>
</mat-toolbar>